@model AccountViewModels
<!DOCTYPE html>
<html>
    <head>
        <title> Welocome to the PRPC Application</title>
    </head>
    <body>
        Hi @Model.FirsName, thank you for registering for our application.
    </body>
</html>