@model IEnumerable<PRPC_CIDM4390.Models.LogIn>

@{
    ViewData["Title"] = "Index";
}

<h2>LogIn</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class = "table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
        </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>